{% extends "mainapp/base.html" %}

{% block content %}

{# unit test comment #}
<!--utc_landing_page-->

<h3>General Information</h3>
<p>
    This page is a very early prototype of the <b>semantic corona rule assistant</b> which is currently under construction.
    For background information,  see the repository (link in footer)

</p>

<h3>Geographic Entities</h3>
<p>
    <ol>
    <li>test1</li>
    {% for ge in all_ge %}
    <li>{{ge.name}}</li>
    {% endfor%}

    </ol>
</p>


{% endblock  %}
