{% extends "mainapp/base.html" %}

{% block content %}

{# unit test comment #}
<!--utc_query_page-->

{% if result_ge %}
<p>
Resulting Direcitves for  {{result_ge.name}}:
</p>
<h4>Directives:</h4>
<ol>
{% for directive in directive_list %}
    <li>{{directive.repr}}</li>


{% endfor %}
</ol>
<!--utc_number_of_directives:{{directive_list|length}}-->
<hr class="hr_style_gradient opacity30">
{% endif %}

<h3>New Query</h3>


<form action="" method="post" class="form-horizontal">
    {% csrf_token %}

    <div class="mb-2"></div>

    <div class="form-group">
        <input class="form-input" type="text" id="region" name="GeographicEntity" placeholder="region">
        <br/>
        <input class="form-input" type="text" id="tag1" name="foo1" placeholder="tag">
        <br/>
        <input class="form-input" type="text" id="tag2" name="foo1" placeholder="tag">


    </div>


    <div class="text-right">
        <button class="btn btn-lg btn-primary">
            Send Query
            <i class="material-icons">send</i>
        </button>
    </div>

</form>



{% endblock  %}










