{% extends "mainapp/base.html" %}
{% load extra_filters %}
{% load bleach_tags %}

{% block content %}

{# used for the landing page (and maybe others) #}
{% if landingpage %}
    {{md_src|render_markdown|bleach}}

<hr class="hr_style_gradient opacity30">
{% endif %}

{# unit test comment #}
<!--utc_query_page-->

{% if result_ge %}



<p>
Resulting Direcitves for region <span class="entity-name">{{result_ge.name}}</span> :
</p>
<h4>Directives:</h4>
<hr class="hr_style_gradient opacity30">
<div style="padding:2em;">
<span style="color: red;">This web service currently is just demonstrator of an acaedemic experiment. The information which can be retrieved by it have no actual real meaning. <strong>Do not make any Corona-rule-based decision which relies on data from this platform!</strong></span> Keep yourself informed on what is allowed in your region via official sources.
<hr class="hr_style_gradient opacity30">
</div>

<ol>
{% for directive in directive_list %}
    <li>
        {{directive.repr}}
        <div class="directive-text">
            {{directive.text}}
        </div>
    </li>


{% endfor %}
</ol>

{{ directive_list|length|json_script:"directive_list_length" }}

<hr class="hr_style_gradient opacity30">
{% endif %}

{% if landingpage %}
<h3>Try it out</h3>
{% else %}
<h3>New Query</h3>
{% endif %}


<form action="" method="post" class="form-horizontal">
    {% csrf_token %}

    <div class="mb-2"></div>

    <div class="form-group">
        <input class="form-input" type="text" id="region" name="GeographicEntity" placeholder="region">
        <br/>
        <input class="form-input" type="text" id="tag1" name="tag1" placeholder="tag">
        <br/>
        <input class="form-input" type="text" id="tag2" name="tag2" placeholder="tag">


    </div>


    <div class="text-right">
        <button class="btn btn-lg btn-primary">
            Send Query
            <i class="material-icons">send</i>
        </button>
    </div>

</form>

<br>
<br>
<hr class="hr_style_gradient opacity30">

<h3>Search hints</h3>

Unless there is proper autocompletion here is a list of all search-relevant entities:

<h4>Regions (GeographicEntities)</h4>

{% for ge in all_ge %} <span class="entity-name">{{ge.name}}</span> {% endfor%}

<h4>Tags</h4>

{% for tag in all_tags %}<span class="entity-name">{{tag.label}}</span> {% endfor%}



{% endblock  %}










